@model App_consulta.Models.Configuracion

@{
    ViewData["Title"] = "Configuración general";
    ViewData["Subtitle"] = "Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group row">
        <label asp-for="NombreApp" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="NombreApp" class="form-control" />
            <span asp-validation-for="NombreApp" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="DescripcionApp" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="DescripcionApp" class="form-control" />
            <span asp-validation-for="DescripcionApp" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Entidad" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Entidad" class="form-control" />
            <span asp-validation-for="Entidad" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NombrePlan" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="NombrePlan" class="form-control" />
            <span asp-validation-for="NombrePlan" class="text-danger"></span>
        </div>
    </div>

    <hr />

    <div class="form-group row">
        <label asp-for="Logo" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Logo" class="form-control" />
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ImgHeader" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ImgHeader" class="form-control" />
            <span asp-validation-for="ImgHeader" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Favicon" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Favicon" class="form-control" />
            <span asp-validation-for="Favicon" class="text-danger"></span>
        </div>
    </div>

    <hr />

    <div class="form-group row">
        <label asp-for="ColorTextoHeader" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ColorTextoHeader" class="form-control" />
            <span asp-validation-for="ColorTextoHeader" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ColorPrincipal" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ColorPrincipal" class="form-control" />
            <span asp-validation-for="ColorPrincipal" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ColorTextoPrincipal" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ColorTextoPrincipal" class="form-control" />
            <span asp-validation-for="ColorTextoPrincipal" class="text-danger"></span>
        </div>
    </div>

    <hr />

    <div class="form-group row">
        <label asp-for="Contacto" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Contacto" class="form-control" />
            <span asp-validation-for="Contacto" class="text-danger"></span>
        </div>
    </div>

    </hr>

    <div class="form-group row">
        <label asp-for="CodeEncuestador" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="CodeEncuestador" class="form-control" />
            <span asp-validation-for="CodeEncuestador" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-3 offset-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index2" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>
</form>

