@model App_consulta.Models.FormalizationConfig
@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Configuración formalización";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>Editar configuración formalización</h4>
<form id="formIndicador" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>
    <input asp-for="Id" type="hidden" />

    <div class="form-group row">
        <label asp-for="Name" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="form-text small text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Field" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Field" class="form-control" readonly />
            <span asp-validation-for="Field" class="form-text small text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Value" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="form-text small text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Group" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Group" class="form-control" readonly />
            <span asp-validation-for="Group" class="form-text small text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-3 offset-lg-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block mb-2" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>


</form>


