
MonitorKobo-main/codigo fuente/App consulta/Storage/
MonitorKobo-main/codigo fuente/App consulta/Storage/Logs.txt
MonitorKobo-main/codigo fuente/App consulta/Properties/PublishProfiles/FolderProfile.pubxml.user
