@model App_consulta.Models.KoProject
@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Proyectos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>Editar proyecto</h4>
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>

    @await Html.PartialAsync("_PartialForm")
    <hr />

    <div class="form-group row">
        <div class="col-sm-3 offset-lg-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block mb-2" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>

</form>