
codigo fuente/App consulta/bin/Debug/
codigo fuente/App consulta/bin/Release/
codigo fuente/App consulta/obj/Debug/
codigo fuente/App consulta/obj/Release/
codigo fuente/.vs/
codigo fuente/App consulta/mono_crash.11a6748113.0.json
codigo fuente/App consulta/obj/App consulta.csproj.nuget.dgspec.json
codigo fuente/App consulta/obj/App consulta.csproj.nuget.g.props
codigo fuente/App consulta/obj/App consulta.csproj.nuget.g.targets
codigo fuente/App consulta/obj/project.nuget.cache
codigo fuente/App consulta/Properties/PublishProfiles/FolderProfile 1.pubxml
codigo fuente/App consulta/Properties/PublishProfiles/FolderProfile 2.pubxml
codigo fuente/App consulta/Properties/PublishProfiles/FolderProfile 3.pubxml
codigo fuente/App consulta/Properties/PublishProfiles/FolderProfile 4.pubxml
codigo fuente/App consulta/Properties/PublishProfiles/FolderProfile.pubxml
codigo fuente/App consulta/obj/project.nuget.cache
codigo fuente/App consulta/obj/project.assets.json
codigo fuente/App consulta/obj/App consulta.csproj.nuget.g.targets
codigo fuente/App consulta/obj/App consulta.csproj.nuget.g.props
codigo fuente/App consulta/obj/App consulta.csproj.nuget.dgspec.json
codigo fuente/App consulta/Storage/Formalizacion/
