@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado ";
}
<div class="card border-danger mt-5 w-50 mx-auto">
  
    <div class="card-body text-danger text-center">
        <h1>@ViewData["Title"]</h1>
        <p>No tiene acceso a este recurso. </p>
    </div>
</div>

