@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación recuperación de contraseña.";
}

<h1 class="mt-4">@ViewData["Title"]</h1>
<p>
    Por favor revise su correo electrónico para restablecer su contraseña.
</p>

