@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1 class="mt-4">@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido restablecida. Haga <a asp-page="./Login"> clic aquí para iniciar sesión </a>.
</p>
