@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-4">
    <h1 class="display-4">Bienvenido</h1>
    <p>Acuerdo AUNAP - PNUD 2021</p>
    <hr />
    <div class="row">

        @if (User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Ver" && c.Value == "1")))
        {
            <div class="col-12 col-md-3 mb-1">
                <a class="btn btn-outline-success btn-lg btn-block" asp-area="" asp-controller="Encuestador" asp-action="Index">Encuestadores</a>
            </div>
        }
        @if (User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestas.Listado" && c.Value == "1")))
        {
            <div class="col-12 col-md-3 mb-1">
                <a class="btn btn-outline-success btn-lg btn-block" asp-area="" asp-controller="Informes" asp-action="Encuestados">Caracterizaciones</a>
            </div>
            <div class="col-12 col-md-3 mb-1">
                <a class="btn btn-outline-success btn-lg btn-block" asp-area="" asp-controller="Informes" asp-action="Asociaciones">Asociaciones</a>
            </div>
        }
        @if (User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Formalizacion.Listado" && c.Value == "1")))
        {
            <div class="col-12 col-md-3 mb-1">
                <a class="btn btn-outline-success btn-lg btn-block" asp-area="" asp-controller="Formalizacion" asp-action="index">Formalizaciones</a>
            </div>
        }
    </div>

    <hr />
    <div class="row">
        <div class="col-6 offset-lg-2 col-lg-4">
            <img src="@Url.Content("/images/aunap.png")" class="img-home" />
        </div>
        <div class="col-6 col-lg-4 ">
            <img src="@Url.Content("/images/pnud-logo-30.svg")" class="img-home" />
        </div>
    </div>


</div>
