@model App_consulta.Models.Pollster

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Encuestadores";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var permisoAdmin = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Administrar" && c.Value == "1"));

    var listaCoordinacion = (SelectList)ViewBag.Coordinaciones;
    var listaDepartamento = (SelectList)ViewBag.Departamentos;
    var listaMunicipios = (SelectList)ViewBag.Municipios;
}

<div class="card w-75 mt-4 mx-auto">
    <div class="card-body">
        <h4 class="my-2">Editar encuestador</h4>
        <hr />
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="small text-danger"></div>

            <div class="form-group row">
                <label asp-for="DNI" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DNI" class="form-control" required />
                    <span asp-validation-for="DNI" class="form-text small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Name" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="form-text small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="form-text small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="form-text small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="IdLocationParent" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <select asp-for="IdLocationParent" asp-items="@listaDepartamento" required class="form-control selectLocation" data-child="IdLocation">
                        <option value="">Seleccione una opción</option>
                    </select>
                    <span asp-validation-for="IdLocationParent" class="form-text small text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="IdLocation" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <select asp-for="IdLocation" asp-items="@listaMunicipios" class="form-control" required>
                        <option value="">Seleccione una opción</option>
                    </select>
                    <span asp-validation-for="IdLocation" class="form-text small text-danger"></span>
                </div>
            </div>

            @if (permisoAdmin)
            {

                <div class="form-group row">
                    <label asp-for="IdResponsable" class="col-md-4 col-form-label"></label>
                    <div class="col-md-8">
                        <select asp-for="IdResponsable" asp-items="@listaCoordinacion" class="form-control" required>
                            <option value="">Seleccione una opción</option>
                        </select>
                        <span asp-validation-for="IdResponsable" class="form-text small text-danger"></span>
                    </div>
                </div>
            }

            <hr />
            <div class="form-group row">
                <div class="col-sm-3 offset-lg-3">
                    <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block mb-2" />
                </div>
                <div class="col-sm-3">
                    <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {

    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="~/js/tables/AlertScript.js"></script>
    <script type="text/javascript" src="~/js/tables/EncuestadorScript.js?v=1.0"></script>
}


