<footer class="border-top footer text-muted d-print-none">
    <div class="container text-center">
        Herramienta de consulta    &copy; 2021 - @DateTime.Now.Year SoliData SAS
    </div>
</footer>