@using Microsoft.EntityFrameworkCore;

@inject App_consulta.Data.ApplicationDbContext db

@{
    var appName = "App Consulta";

    var conf = await db.Configuracion.FirstOrDefaultAsync();
    if (conf != null)
    {
        appName = conf.NombreApp;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - @appName</title>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



