@model App_consulta.Models.KoField
@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Campos proyecto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    KoProject project = ViewBag.project;
}
<h4>Crear campo - @project.Name</h4>

<form asp-action="Create" method="post" asp-route-idProject="@project.Id">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="small text-danger"></div>
    <input asp-for="IdProject" type="hidden" />

    @await Html.PartialAsync("_PartialForm")
    <hr />

    <div class="form-group row">
        <div class="col-sm-3 offset-lg-3">
            <input type="submit" value="Guardar" class="btn btn-outline-primary btn-block mb-2" />
        </div>
        <div class="col-sm-3">
            <a asp-action="Index" asp-route-idProject="@project.Id" class="btn btn btn-outline-dark btn-block">Volver</a>
        </div>
    </div>

</form>
